body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

ul { 
    list-style: none; /*Tira os pontos da lista não ordenada*/
    padding-left: 5px; /* Distância esquerda*/
}

h1, h2, h3{
    text-align: center; /*Alinha os títulos*/
    color: navy; /*Muda a cor do título*/
}

p{
    text-indent: 30px; /*Deixa o espaço no começo do parágrafo*/
    line-height: 30px; /*Muda o espaçamento entre as linhas*/
    text-align: justify; /*Advinha? Justifica o texto*/
    font-size: 15pt;/*Tamanho da fonte*/
}

hr{
    border-color: navy; /*Muda a cor da linha horizontal*/
}

ul li:hover{
    padding: 15px; 
    background-color: #faf6f6;
    border-radius: 15px; 
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    box-shadow: 14px 13px 28px -9px rgba(158,158,158,0.75);
    -webkit-box-shadow: 14px 13px 28px -9px rgba(158,158,158,0.75);
    -moz-box-shadow: 14px 13px 28px -9px rgba(158,158,158,0.75); 
}

a{
    text-decoration: none; /*Tira a decoração dos hyperlinks*/
    font-size: 15pt; /*Muda a fonte*/
}

div ul li{
    line-height: 40px; /*Espaçamento das âncoras*/
}


figure, figcaption {
    padding-top: 2px;
    text-align: center;
}

input{
    border-radius: 15px;
    width:150px;
    height: 30px;
    text-indent: 15px;
    border-color: black;
}

.image{
    border-radius: 15px; /*todas as imagens de classe image com borda arredondada*/
}

.bar {
    background-color: #f9f9fb; /*Cor de fundo da barra que da espaço abaixo do header*/
    padding:15px; /**/
    border-top: solid 1px #cdcdcd; /*Borda contínua de largura 1px e cor #cdcdcd*/
    border-bottom: solid 1px #cdcdcd; /*Borda contínua de largura 1px e cor #cdcdcd*/
    border-color: navy; /*cor da borda*/
}

.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer {
    min-height: 100px; /*Altura do footer*/
    border-top: solid 1px navy; /*Cor da borda*/
}
.anchors {
    border-left: solid 1px navy;
    padding-left: 30px; /*Distância da borda esquerda*/
}

.sidebar {
    border-right: solid 1px navy; /*Confihuração da borda*/
    text-align: left; /*Ainhamento*/
    width: 300px; /*Largura da barra lateral*/
    line-height: 50px; /*Distância entre as linhas*/
    padding: 15px 15px; /*Padding top right*/
    margin-left: -70px; /*Margem*/
}

.header{
    text-align: left; /*Alinhamento*/
    position: relative;
    bottom:60px;
    left:70px;
}

.globe{
    left: -780px; /*Posicionando os elementos do cabeçalho*/
    position: relative;
    top: 30px;
}

/* Trecho estava sem função
.sourcer{
    background-color: #f9f9fb;
    padding: 15px;
    height: fit-content;
    border-radius: 30px;
    border: solid;
    border-color: lightgray;
}
*/
.search{ /*Posicionando barra de busca*/
    background-color: white;
    position: relative;
    left:1200px;
    top:-150px;
    color: black;
    font-size: 17px;
}